<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Main Dashboard</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/mainDashboard.css">
  <!-- MDB -->
  <link rel="stylesheet" href="/css/mdb.min.css" />
</head>

<body>
  <!-- Start your project here-->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar"
    style="background-color: #363979 !important; color: white;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="/img/collegeLogo.png" class="college-logo" alt="MDB Logo" loading="lazy" />
        </a>
        <span class="navbar-text-span">Publications Management System - MIT WPU</span>
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="dropdown">
          <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="/img/avatar.png" class="rounded-circle" height="40" alt="Black and White Portrait of a Man"
              loading="lazy" />
          </a>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <!-- For above badges -->
  <div class="container">
  <div class="d-flex justify-content-around my-5 text-center ">
    <div class="tab-badge py-3"><span class="text-center"><a href="/dashboard"><b>BRANCHES</b></a></span></div>
    <div class="tab-badge py-3"><span class="text-center"><a href="/domains"><b>DOMAINS</b></a></span></div>
    <div class="tab-badge py-3"><span class="text-center"><a href="/faculty"><b>FACULTY</b></a></span></div>
    <div class="tab-badge py-3"><span class="text-center"><a href="/faculty"><b>PUBLICATIONS</b></a></span></div>
  </div>

  <!-- Code For Cards -->
  <div class="row">
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>CSE</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>E&TC</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>Civil</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>Mechanical</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>Chemical</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <div class="card">
        <div class="header">
          <a href="/domains"><b>Petroleum</b></a>
        </div>
        <div class="body"></div>
      </div>
    </div>  
  </div>
</div>
  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>